<div ng-controller="adminCtrl.addExamsCtrl" class="wrapper">
	<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add New Exam</h3></div>
                <div class="panel-body">
                    <p>Please fill the form below accurately to create a new exam.</p>
                    <br>
                    <form class="form-horizontal" role="form" ng-submit="createExam(exam)">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Title</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.title" placeholder="Name of the exam that would be displayed">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Instructions</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" value="Attempt all questions" placeholder="e.g Answer all questions" ng-model="exam.instructions">
                            </div>
                            <!-- <span class="col-md-2">
                                <button type="button" class="btn btn-primary" ng-click="instructionDisabled = false"><i class="ti-pencil"></i></button>
                            </span> -->
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Course Units</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.units" placeholder="Course Unit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Duration</label>
                            <div class="col-md-7">
                                <input type="text" placeholder="Allocated time for exam in minutes e.g 120 for 2 hours" class="form-control" ng-model="exam.duration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Password</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Any english word" ng-model="exam.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Instructor</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="e.g Mr. John Doe" ng-model="exam.instructor">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 10%;">
                            <div class="checkbox checkbox-danger">
                            		<input type="checkbox" id="examCheckbox" ng-model="exam.disabled">
                            	<label for="examCheckbox">
                            		Don't Activate Exams Immediately
                            	</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-nav_right btn-lg btn-primary waves-effect waves-dark">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>