<div ng-controller="adminCtrl.editExamsCtrl" class="wrapper">
	<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Exam</h3></div>
                <div class="panel-body">
                    <p>Please fill the form below edit the exam.</p>
                    <br>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Title</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Instructions</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" value="Attempt all Questions" ng-model="exam.instructions">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Course Units</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.unit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Duration</label>
                            <div class="col-md-7">
                                <input type="text" placeholder="Allocated time for exam in minutes" class="form-control" ng-model="exam.duration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Password</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Instructor</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.instructor">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 10%;">
                            <div class="checkbox checkbox-danger">
                            		<input type="checkbox" id="examCheckbox" ng-model="exam.disabled" value="exam.disabled">
                            	<label for="examCheckbox">
                            		Don't Activate Exams Immediately
                            	</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button ng-click="saveExamEdit(exam.id,exam)" type="submit" class="btn btn-nav_right btn-lg btn-primary waves-effect waves-dark">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>