<div ng-controller="examPageCtrl">
	<div style="margin-top: 1%;">
        <div class="content">
	        <div class="wrapper">
	            <div class="container">
	                <div class="row">
	                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
	                        <div class="page-header-title"  style="padding-bottom:0.1%;">
	                            <h4 class="page-title animated fadeInRight" align="center" style="font-size: 2em;font-weight: lighter;"><img src="{{app.schoolLogo}}" width="35"> FstackDev</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	   </div>
	</div>
	
<div class="animated bounce">
    <div>
    	<!-- timer section -->
    	<span class="pull-right counter">
    		<div ng-hide="hour == true"><span id="hours"></span> : </div>
    		<span id="minutes"></span> : 
    		<span id="seconds"></span>
    	</span>
    </div>

    <div class="hidden-xs hidden-sm hidden-md">
    	<div easypiechart class="container pull-right chart" style="" percent="chartPercent" options="chartOptions"></div>    	
	</div>
</div>

<div style="margin-bottom: 7%;margin-top: 5%;">
    <div class="row container" style="max-width: 70%;margin-left: 15%;">
        <div class="col-md-12">
            <div class="panel panel-primary panelBdy">
                <div class="panel-heading pHead">
                    <h3 class="panel-title animated slideInUp">Question {{currentQuestion}}
	                    <span class="pull-right hidden-xs hidden-sm" data-toggle="modal" data-target=".reviewModal" style="cursor: pointer;font-weight: bold; font-size: large;" tooltip="Exam Overview" flow="right">
	                    	<i class="ti-check-box"></i>
	                    </span> 
                    </h3>
                    <!-- <span>
                    	<p class="pull-right badge-primary" style="padding: 0.1%">{{currentQuestion}} of {{allQuestions.length}}</p>
                    </span> -->
                </div>
                <div ng-repeat="question in filteredQuestions" id="optionGroup">
	                <div class="panel-body panelBdy" style="padding:30px;padding-top:-20px;">
	                    <div class="row">
	                         <p style="font-weight: lighter;" class="animated fadeInDown" id="question">{{question.question}}.</p>
	                    <div class="row opt-group" style="margin-top: 1em;">
	                        <div class="col-sm-12 opt-a" ng-repeat="option in question.options">
	                            <div class="radio radio-primary animated fadeInUp animate-{{$index + 1}}00">
	                                <input type="radio" name="{{question.id}}" id="{{option.id}}" value="{{option.id}}" ng-model="option.selected" ng-click="selectOption(question,option,filteredQuestions)">
	                                <label for="{{option.id}}">{{option.name}}</label>
	                            </div>
	                        </div>
	                        
	                    </div>
	                </div>
	            </div>
            </div>

            <div class="navigator">
	            <button class="btn btn-primary btn-nav_left btn-circular hidden-xs hidden-sm" ng-click="navigator(currentQuestion - 1)" ng-hide="currentQuestion == 1" tooltip="Previous Question" flow="left">
	            	<i class="ti-angle-left"></i>
	            </button>

	            <button class="btn btn-primary btn-nav_right btn-circular hidden-xs hidden-sm" ng-click="navigator(currentQuestion + 1)" ng-hide="currentQuestion == allQuestions.length" tooltip="Next Question" flow="right">
	            	<i class="ti-angle-right"></i>
	            </button>
	            <button class="btn btn-success btn-circular btn-submit hidden-xs hidden-sm" ng-click="submitQuiz()" ng-hide="currentQuestion < allQuestions.length" tooltip="Submit " flow="down">
	            	<i class="ion-checkmark-round"></i>
	            </button>
            </div>

        </div>
    </div>
</div>
<div class="fab animated rubberBand hidden-lg hidden-md">
  <div class="option reply" title="Previous" ng-click="navigator(currentQuestion - 1)"><i class="ti-angle-left"></i></div>
  <div class="option love" title="Submit" ng-click="submitQuiz()"><i class="ion-checkmark-round"></i></div>
  <div class="option delete" title="Next" ng-click="navigator(currentQuestion + 1)" id="next"><i class="ti-angle-right"></i></div>
  <div class="close" title="Cancel"><i class="ti-close"></i></div>
</div>

<div style="margin-top: 1%;">
	<div class="col-xs-6 col-sm-3 m-t-30">
		<div class="modal fade bs-example-modal-lg reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="reviewModal">Review Quiz</h4>
				</div>
				<div class="modal-body">
				<style type="text/css">
					.col-sm-1{
						margin-bottom: 3%;
					}
				</style>
					<div class="row">
					<div class="col-md-12">
						<div class="col-sm-1 col-md-1 col-lg-1 col-xs-1" ng-repeat="question in allQuestions">
							<button type="button" class="btn waves-effect waves-light answered-{{question.isAnswered}}" ng-click="navigator($index + 1)" data-dismiss="modal" aria-hidden="true">{{$index + 1}} </button>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
<script>
$('.fab').on('click', function () {
    $(this).toggleClass('open');
    $('.option').toggleClass('open');
    $('.close').toggleClass('open');
});
</script>
</div>