<div ng-controller="loginCtrl" style="margin-top: -2%;">
    <div class="accountbg"></div>
    <div class="wrapper-page">
     <h3 class="text-center m-t-0 m-b-30 animated fadeInDown"> <span class=""><img src="{{app.schoolLogo}}" alt="logo" height="64" width="50"></span>{{app.schoolName}}</h3>
        <div class="panel panel-color panel-primary panel-pages animated fadeIn">
            <div class="panel-body">
                <h4 class="text-muted text-center m-t-0"><b>Students' Login</b></h4>
                <form class="form-horizontal m-t-20">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Username" ng-model="form.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control" ng-model="selectedExam">
                                <option ng-repeat="exam in allExams" title="{{exam.name}}" ng-disabled="{{exam.disabled}}" value="{{exam.name}}" ng-hide="exam.disabled">
                                   {{exam.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required placeholder="Password" ng-model="form.password">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12 animated bounce">
                            <button type="button" class="btn btn-success btn-round" ng-click="login(form,selectedExam)" tooltip="Login" flow="down" style="border: none !important;"> <i class="ion-chevron-right"></i> </button>
                        </div>

                    </div>
                    </form>
                    <div class="col-md-12">
                        <hr>
                        <h5 ng-hide="showPassword(selectedExam)==''" class="pull-left">Exam Password: {{showPassword(selectedExam)}}</h5>
                        <button tooltip="Help" flow="down" class="btn btn-default pull-right" ng-click="showLoginHelp()">
                            <i class="ti-help"></i>
                        </button>
                    </div>
                    {{secondGet}}
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>