<div ng-controller="adminCtrl.addStdCtrl" class="wrapper">
	<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add New Student</h3></div>
                <div class="panel-body">
                    <p>Please fill the form below accurately to register a new student.</p>
                    <br>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Surname</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="std.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">First Name</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="std.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Other Names</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="std.otherName">
                            </div>
                        </div>
                        <div class="form-group" ng-disabled="true">
                            <label class="col-md-2 control-label">Username</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" value="{{std.firstName | lowercase}}.{{std.lastName | lowercase}}" id="username" tool-tip="Please don't change this except it already exists" flow="right">
                            </div>
                        </div>
                        <div class="form-group" ng-disabled="true">
                            <label class="col-md-2 control-label">Level</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="std.level">
                            </div>
                        </div>
                        <div class="form-group" ng-disabled="true">
                            <label class="col-md-2 control-label">Registration Number</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="std.reg_number">
                            </div>
                        </div>
                        <div class="form-group" ng-disabled="true">
                            <label class="col-md-2 control-label">Department</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="std.department">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-md-2 control-label">Course Units</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.units">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Duration</label>
                            <div class="col-md-7">
                                <input type="text" placeholder="Allocated time for exam in minutes" class="form-control" ng-model="exam.duration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Password</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Exam Instructor</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="exam.instructor">
                            </div>
                        </div> -->
                        <!-- <div class="form-group" style="margin-left: 10%;">
                            <div class="checkbox checkbox-danger">
                            		<input type="checkbox" id="examCheckbox" ng-model="exam.disabled">
                            	<label for="examCheckbox">
                            		Don't Activate Exams Immediately
                            	</label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-nav_right btn-lg btn-primary waves-effect waves-dark" ng-click="addStudent(std)">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>