<div ng-controller="adminCtrl.viewStdCtrl" class="wrapper">
	<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    	View All Students
                    	<div class="row pull-right">
                    	<span class="col-md-6" tooltip="Collapse Panel" flow="up">
                    		<i class="ti-angle-down"></i>
                    	</span>
                    	<span class="col-md-6" tooltip="Reload Table" flow="up">
                    		<i class="ti-reload"></i>
                    	</span>
                    </h3>
                 </div>
                <div class="panel-body">
                    <table datatable="ng" dt-options="dtOptions" class="table table-hover table-responsive">
                    	<thead>
					        <tr>
					            <th>S/N</th>
					            <th>Surname</th>
					            <th>First Name</th>
					            <th>Other Names</th>
					            <th>Reg. Number</th>
					            <th>Level</th>
					            <th>Username</th>
					            <!-- <th>Status</th>
					            <th>Unit</th> -->
					            <th>Actions</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat="student in studentsList">
					            <td>{{$index + 1}}</td>
					            <td>{{student.lastname}}</td>
					            <td>{{student.firstname}}</td>
					            <td>{{student.othername}}</td>
					            <td>{{student.reg_number}}</td>
					            <td>{{student.level}}</td>
					            <td>{{student.username}}</td>
					            <td ng-disabled="exam.pwd == '-'">
	                                <div class="row">
                                		<div class="col-md-3">
	                                		<button type="button" ng-click="viewMore(student._id)" data-toggle="modal" data-target="#stdInfoModal" class="btn btn-info btn-sm" tooltip="View More" flow="down">
	                                			<span class="col-md-3"><i class="ti-more"></i></span>
	                                		</button>
	                                	</div>
	                                	<div class="col-md-1"></div>
	                                	<div class="col-md-3">
	                                		<a ui-sref="admin.editStudent({data: student._id})" class="btn btn-warning btn-sm" tooltip="Edit" flow="down">
	                                			<span class="col-md-3"><i class="ti-pencil"></i></span>
	                                		</a>
	                                	</div>
	                                	<div class="col-md-1"></div>
	                                	<div class="col-md-3">
	                                		<button ng-click="doDeleteStd($index,student._id,student)" class="btn btn-danger btn-sm" tooltip="Delete" flow="down">
	                                			<span class="col-md-3"><i class="ti-trash"></i></span>
	                                		</button>
	                                	</div>
	                                </div>
                                </td>
					        </tr>
					    </tbody>
                    </table>
            	</div>
        	</div>
    	</div>
    </div>
    <div id="stdInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="stdInfoModalLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog" style="width:55%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="stdInfoModalLabel">{{currentStdDetails.fullname}}</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li>
                            <h4>Surname : {{currentStdDetails.firstname}}</h4>
                        </li>
                        <li>
                            <h4>First Name : {{currentStdDetails.lastname}}</h4>
                        </li>
                        <li>
                            <h4>Other Name : {{currentStdDetails.othername}}</h4>
                        </li>
                        <li>
                            <h4>Full Name : {{currentStdDetails.fullname}}</h4>
                        </li>
                        <li>
                            <h4>Reg. Number : {{currentStdDetails.reg_number}}</h4>
                        </li>
                        <li>
                            <h4>Level : {{currentStdDetails.level}}</h4>
                        </li>
                        <li>
                            <h4>Username : {{currentStdDetails.username}}</h4>
                        </li>
                        <li>
                            <h4>Department : {{currentStdDetails.department}}</h4>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">
                    	Done
                    </button>
                </div>
            </div>
        </div>
    </div>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<!-- module for compression.....readup node zlib -->
<!-- <script src="assets/plugins/datatables/jszip.min.js"></script> -->
</div>