<div ng-controller="adminCtrl.viewQuestionsCtrl" class="wrapper">
	<div class="container" ng-show="loader">
		<div class="row">
			<img ng-src="images/loader.gif" class="img-fluid loader">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-body">
					<h3 align="center">{{thisPage}}</h3>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<select class="form-control" ng-model="selectedExam">
						<option ng-repeat="exam in allExams"  title="{{exam.name}}" ng-disabled="{{exam.disabled}}" value="{{exam.name}}" ng-hide="exam.disabled">
						   <p ng-click="subselect()">{{exam.name}}</p>
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 animated bounce">
					<button type="submit" ng-click="getQuestions()" class="btn btn-primary btn-round" >Load Exams</button>
				</div>
			</div><br><br>
			<div ng-show="viewStudent">
				<table class="table">
					<thead>
						<tr>
							<th>question</th>
							<th>answer</th>
							<th>option_a</th>
							<th>option_b</th>
							<th>option_c</th>
							<th>option_d</th>
							<!-- <th>Actions</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in students" ui-sref="update_student({id : student._id})">							
							<td>{{student.question}}</td>
							<td>{{student.answer}}</td>
							<td>{{student.options.option_a}}</td>
							<td>{{student.options.option_b}}</td>
							<td>{{student.options.option_c}}</td>
							<td>{{student.options.option_d}}</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
									<i class="fa fa-edit"></i>
								</button>
								<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<h5 ng-hide="getid(selectedExam)==''" class="pull-left"></h5>
	</div>	        
</div>